@import url("https://fonts.googleapis.com/css2?family=Anton&family=Handjet&family=Josefin+Sans&family=Lato&family=Montserrat:ital,wght@0,400;1,300&family=Oswald&family=Roboto:ital@1&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 50px;
  text-align: center;
  font-family: "Anton", sans-serif;
  animation: fade-in 1s ease-in;
  color: #203720;
}

.img-fundo {
  background-image: url(./image/FUNDO.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  background-size: cover;
  background-position: 0% center;
  flex: 1;
}

.container-personagens {
  padding-top: 30px;
}

.personagem .personagem-row {
  margin: 8px 0;
  border: 1px solid #333;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: #000 2px 2px 5px;

  display: flex;
  flex-direction: row;
}

.conteudo {
  padding: 20px;
  background-color: #ddd;
  opacity: 0.88;
  flex: 1;
}

.imagem-personagem {
  background-color: rgb(251, 255, 255);
  width: 35%;
  min-width: 120px;
}

.imagem-personagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vivo span {
  color: green;
}

.morto {
  color: red;
}

.desconhecido {
  color: orange;
}

.conteudo h2 {
  font-size: 24px;
}

.bloco {
  height: 14px;
  width: 14px;
  display: inline-block;
  border-radius: 50%;
}

.vivo .bloco {
  background-color: green;
}

.morto .bloco {
  background-color: red;
}

.desconhecido .bloco {
  background-color: orange;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

.pagination button {
  border-radius: 8px;
  padding: 8px 26px;
  border: 1px solid #000;
  font-size: 20px;
  margin-left: 20px;
}

#modal-body {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 700px;
  background-color: #eef9fa;
  border-radius: 10px;
  border-bottom: #000;
  animation: scale 2s ease-in-out infinite alternate;
}

#modal-interno h3 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  margin-left: 20px;
}

#modal-interno p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-left: 20px;
}

footer {
  color: white;
  text-align: center;
  padding: 20px 0;
  background-color: #131e0c;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

#footer-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.conteudo p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.conteudo span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  /* color: rgb(251, 0, 255); */
  color: #0e25b8;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  #modal-body {
    height: 400px;
    width: 400px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
